{{range .Files}}
{{range .Messages}}
{{.LongName}}
^^^^^^^^^^^^^

{{.Description}}

{{if .HasFields}}
+-------+------+-------+-------------+
| Field | Type | Label | Description |
+=======+======+=======+=============+
{{range .Fields -}}
| {{.Name}} | {{.Type}} | {{.Label}} | {{nobr .Description}} |
+-------+------+-------+-------------+
{{end}}
{{end}}
{{end}}
{{range .Enums}}
{{.LongName}}
^^^^^^^^^^^^^

{{.Description}}
+------+--------+-------------+
| Name | Number | Description |
+======+========+=============+
{{range .Values -}}
| {{.Name}} | {{.Number}} | {{nobr .Description}} |
+------+--------+-------------+
{{end}}
{{end}}
{{end}}
