{{range .Files}}
{{range .Messages}}
{{.LongName}}
^^^^^^^^^^^^^

{{.Description}}

{{if .HasFields}}
.. list-table:: {{.LongName}}
   :header-rows: 1

   * - Field
     - Type
     - Label
     - Description
{{- range .Fields}}
   * - {{.Name}}
     - {{.Type}}
     - {{.Label}}
     - {{nobr .Description}}
{{- end}}
{{end}}
{{end}}
{{range .Enums}}
{{.LongName}}
^^^^^^^^^^^^^

{{.Description}}
.. list-table:: {{.LongName}}
   :header-rows: 1

   * - Name
     - Number
     - Description
{{- range .Values}}
   * - {{.Name}}
     - {{.Number}}
     - {{nobr .Description}}
{{- end}}
{{end}}
{{end}}
